<h1>{{Parent.lastName}}</h1>
<a href="https://dev.to/tonyhicks20/angular-two-way-binding-between-parent-and-child-components-16kl">example of two way binding</a>
<div>
  <div>
    <input type="text" value="{{Parent.id}}" >
    <br>
   <input type="text" value="{{Parent.firstName}}" >
   <br>
   <input type="text" value="{{Parent.lastName}}" >
  </div>
</div>


<hr>
<div *ngIf="Children.length > 0">
  <div *ngFor="let child of Children">
    <app-child-component [childComponent]="child"></app-child-component>
  </div>
</div>
